:root {
	--pink: #e83e8c;
	--title: #707070;
	--info: #17a2b8;
	--text: #fff;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.pink {
	background-color: var(--pink);
}

.info {
	background-color: var(--info);
	color: var(--text);
}

.title {
	color: var(--title);
}

.logo--nav {
	width: 100px;
}

.logo--foot {
	width: 40px;
}
